body {
  font-family: Arial, sans-serif;
  background: #f6f7fb;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
}

.order-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.order-id {
  font-weight: bold;
}

.status {
  color: green;
  font-weight: bold;
}

.order-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.order-item img {
  width: 60px;
  border-radius: 6px;
}

.total {
  text-align: right;
  font-weight: bold;
  color: #f4193e;
}


.status.cancelled {
  color: red;
}

.cancel-btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: 1px solid #f4193e;
  background: white;
  color: #f4193e;
  cursor: pointer;
  border-radius: 4px;
}

/* MOBILE */
@media (max-width: 600px) {
  .order-header {
    flex-direction: column;
    gap: 6px;
  }
}